@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.imageContainer {
    margin-top: 50px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    color: whitesmoke;
    line-height: 2em;
    margin-bottom: 50px;
}
.emphasis {
    color: white;
}

#inputImage {
    margin-top: 50px;
    width: 30%;
    height: auto;
}

.noValidInput {
    margin-top: 100px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    /* color: whitesmoke; */
    letter-spacing: 0.3em;
    color: #aabce9;
    -webkit-text-stroke: 0.2px whitesmoke;
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}
