.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: hsla(225, 18%, 53%, 1);
  background: radial-gradient(circle, hsla(225, 18%, 53%, 1) 6%, hsla(225, 18%, 41%, 1) 58%);
  background: -moz-radial-gradient(circle, hsla(225, 18%, 53%, 1) 6%, hsla(225, 18%, 41%, 1) 58%);
  background: -webkit-radial-gradient(circle, hsla(225, 18%, 53%, 1) 6%, hsla(225, 18%, 41%, 1) 58%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#727D9E", endColorstr="#555E7A", GradientType=1);
}

button {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.particle {
  position: fixed;
  top: 0;
  z-index: -1;
}